/.htaccess
/index.php
/license.txt
/readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-admin/
wp-content/plugins/akismet/
wp-content/plugins/better-wp-security/
wp-content/plugins/elementor/
wp-content/plugins/everest-forms/
wp-content/themes/twentytwenty/
wp-content/themes/twentytwentyone/
wp-includes/
wp-content/index.php
wp-content/plugins/index.php
wp-content/themes/index.php
